In [2]:
import pandas as pd

In [5]:
# read vine_table
vine_table_df = pd.read_csv("./vine_table.csv")
vine_table_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,RSH1OZ87OYK92,2,2,3,N,N
1,R1WFOQ3N9BO65I,5,0,0,N,Y
2,R3YOOS71KM5M9,5,0,0,N,Y
3,R3R14UATT3OUFU,5,0,0,N,Y
4,RV2W9SGDNQA2C,5,0,0,N,Y
...,...,...,...,...,...,...
145426,R2G7DI8NYXZB5R,4,2,3,N,N
145427,R3QRKP4DS759BP,1,13,16,N,N
145428,R24K4C0ZC3093U,3,3,3,N,N
145429,R13OA3TRCM8IBM,1,20,22,N,N
145430,R1PFDIHC9TM6V4,4,4,4,N,N

In [7]:
vine_table_df.dtypes

review_id            object
star_rating           int64
helpful_votes         int64
total_votes           int64
vine                 object
verified_purchase    object
dtype: object

In [8]:
"""
Filter the data and create a new DataFrame or table to retrieve all the rows where the total_votes count is equal to or greater than 20 to pick reviews that are more likely to be helpful and to avoid having division by zero errors later on.
"""

vine_table_df_20 = vine_table_df.loc[vine_table_df['total_votes']>=20]
vine_table_df_20

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
278,RV4UH0OWW97K4,5,19,22,N,N
859,RG6GT6G9WNYT1,5,22,22,N,N
924,RFBXE3Q3GYQYO,5,68,70,N,Y
1436,R17V95WYC9ZXDD,1,0,20,N,Y
1594,R235HEIYY15NZX,1,0,26,N,Y
...,...,...,...,...,...,...
145409,R2TDYPLG4M7XQV,3,28,31,N,N
145415,R23COG5UCXPSL2,1,3,121,N,N
145421,RJSIBJV4YVP6W,1,3,164,N,N
145423,R3OZBHDT6V61RK,5,27,45,N,N
145429,R13OA3TRCM8IBM,1,20,22,N,N

In [10]:
"""
Filter the new DataFrame or table created in Step 1 and create a new DataFrame or table to retrieve all the rows where the number of helpful_votes divided by total_votes is equal to or greater than 50%.
"""
vine_table_df_20_filter = vine_table_df_20.loc[(vine_table_df_20['helpful_votes'] / vine_table_df_20['total_votes']) >= .50]
vine_table_df_20_filter

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
278,RV4UH0OWW97K4,5,19,22,N,N
859,RG6GT6G9WNYT1,5,22,22,N,N
924,RFBXE3Q3GYQYO,5,68,70,N,Y
1662,R34S64NPUZOS90,5,23,24,N,N
1816,R35O3GV3HZUX8B,5,58,63,N,N
...,...,...,...,...,...,...
145402,R2XZUU9DXCYWVS,5,87,97,N,N
145407,R1OJBA4VLHU9B3,4,51,51,N,N
145409,R2TDYPLG4M7XQV,3,28,31,N,N
145423,R3OZBHDT6V61RK,5,27,45,N,N
145429,R13OA3TRCM8IBM,1,20,22,N,N

In [18]:
"""
Filter the DataFrame or table created in Step 2, and create a new DataFrame or table that retrieves all the rows where a review was written as part of the Vine program (paid), vine == 'Y'.
"""
vine_table_df_20_filter_Y = vine_table_df_20_filter.loc[vine_table_df_20_filter['vine'] == "Y"]
vine_table_df_20_filter_Y

Empty DataFrame
Columns: [review_id, star_rating, helpful_votes, total_votes, vine, verified_purchase]
Index: []

In [17]:
"""
Repeat Step 3, but this time retrieve all the rows where the review was not part of the Vine program (unpaid), vine == 'N'.
"""

vine_table_df_20_filter_N = vine_table_df_20_filter.loc[vine_table_df_20_filter['vine'] == "N"]
vine_table_df_20_filter_N

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
278,RV4UH0OWW97K4,5,19,22,N,N
859,RG6GT6G9WNYT1,5,22,22,N,N
924,RFBXE3Q3GYQYO,5,68,70,N,Y
1662,R34S64NPUZOS90,5,23,24,N,N
1816,R35O3GV3HZUX8B,5,58,63,N,N
...,...,...,...,...,...,...
145402,R2XZUU9DXCYWVS,5,87,97,N,N
145407,R1OJBA4VLHU9B3,4,51,51,N,N
145409,R2TDYPLG4M7XQV,3,28,31,N,N
145423,R3OZBHDT6V61RK,5,27,45,N,N
145429,R13OA3TRCM8IBM,1,20,22,N,N

Determine the total number of reviews, the number of 5-star reviews, and the percentage of 5-star reviews for the two types of review (paid vs unpaid).

In [46]:
# Total number of views for paid 
print(f'Total number of views for paid: {len(vine_table_df_20_filter_Y)}')

# Total number of views for unpaid
print(f'Total number of views for unpaid: {len(vine_table_df_20_filter_N)}')

Total number of views for paid: 0
Total number of views for unpaid: 1685

In [47]:
# number of 5-star reviews for paid
paid = len(vine_table_df_20_filter_Y[vine_table_df_20_filter_Y['star_rating'] == 5])
print(f'Number of 5-star reviews for paid: {paid}')
        
# number of 5-star reviews for unpaid
unpaid = len(vine_table_df_20_filter_N[vine_table_df_20_filter_N['star_rating'] == 5])
print(f'Number of 5-star reviews for unpaid: {unpaid}')

Number of 5-star reviews for paid: 0
Number of 5-star reviews for unpaid: 631

In [45]:
# percentage of 5-star reviews for paid
#(len(vine_table_df_20_filter_Y[vine_table_df_20_filter_Y['star_rating'] == 5]) / len(vine_table_df_20_filter_Y)) * 100 
# no output because of division by 0. There are no paid vine reviews. 

# percentage of 5-star reviews for unpaid 
perc_unpaid = (len(vine_table_df_20_filter_N[vine_table_df_20_filter_N['star_rating'] == 5]) / len(vine_table_df_20_filter_N)) * 100 
print(f'percentage of 5-star reviews for unpaid: {perc_unpaid}')

percentage of 5-star reviews for unpaid: 37.448071216617215